@CHARSET "UTF-8";

#survey {
  margin: 50px auto 0;
  width: 700px;
  height: 450px;
  background: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}

#next {
  padding: 0 50px;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 170px;
  margin-bottom: 10px;
  background: #888;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
#back {
  padding: 0 50px;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 120px;
  margin-bottom: 10px;
  background: #888;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
#next:hover {
  background: #FF4000;
}

#back:hover {
  background: #0080ff;
}

.questions {
  margin-left: 650px;
  padding: 0 50px ;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 50px;
}
.questions:first-child {
  margin-left: 0;
}